name: Lint, Tests

on:
  push:
    branches-ignore: ["main"]

env:
  SES_SOURCE: noreply@example.com
  SES_TARGET: foo@example.com
  SENTRY_TRACES_SAMPLE_RATE: 1.0
  SENTRY_PROFILES_SAMPLE_RATE: 0.5
  SENTRY_SAMPLE_RATE: 50
  SERVICE_NAME: user-service
  LOG_LEVEL: DEBUG
  ENVIRONMENT: test
  UVICORN_PORT: 8001
  AUTH_SERVICE_URL: http://localhost:8000
  JWT_SECRET: ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
  JWT_TOKEN_EXPIRY_SECONDS: 3600
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_HOST: localhost
  DB_PORT: 5432
  DB_NAME: users
  QUEUE_WAIT_SECONDS: 5
  SQS_EMAIL_QUEUE_NAME: email-queue
  SQS_EMAIL_DLQ_NAME: email-dlq
  ALB_URL: http://localhost
  JWT_SECRET_VERIFY_ACCOUNT: ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ABC
  JWT_EXPIRY_SECONDS_VERIFY_ACCOUNT: 3600

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python:wq
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry-0  # increment to reset cache

      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1

      - name: Install project
        run: poetry install

      - name: Run lint
        run: make lint

  unit-tests:
    runs-on: ubuntu-latest
    needs: [ lint ]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python:wq
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry-0  # increment to reset cache

      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1

      - name: Install project
        run: poetry install

      - name: Run unit tests
        run: make test-unit

  integration-tests:
    runs-on: ubuntu-latest
    needs: [ lint ]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python:wq
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry-0  # increment to reset cache

      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1

      - name: Install project
        run: poetry install

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Setup dependencies
        run: docker compose up -d

      - name: Sleep
        uses: kibertoad/wait-action@1.0.1
        with:
          time: '5s'

      - name: Docker running containers
        run: docker ps -a

      - name: Curl Authentication Service Health Check
        run: curl http://localhost:8000/healthz

      - name: Start User Service
        run: |
          make dev-server-start &
          sleep 5

      - name: Curl User Service Health Check
        run: curl http://localhost:8001/healthz

      - name: Run integration tests
        run: make test-integration
